.content-about {
    width: 100%;

    .box-about {
        display: flex;
        padding: 1rem 2rem;
        align-items: center;
        justify-content: space-evenly;

        .about-img {
            width: 35%;
            background-color: #4888FF;
            border-radius: 10px;
        }

        .about-img img {
            width: 100%;
            transform: rotate(-5deg);
            border-radius: 10px;
            transition: .5s;
        }

        .about-img img:hover {
            transform: rotate(5deg);
        }
    }

    .info-about {
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;

        .cards {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;

            .card {
                background-color: #382961;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                border-radius: 5px;
                width: 30%;
                align-items: center;
                text-align: center;
                height: 100%;
                padding: 1rem 0;
                border: 2px solid #382961;

                i {
                    color: #4888FF;
                    font-size: 28px;
                }

                h1 {
                    width: 100%;
                    color: #fff;
                    font-size: 18px;
                }

                p {
                    width: 100%;
                    color: #ccc;
                }
            }

            .card:hover {
                background-color: transparent;
                backdrop-filter: blur(12px);
            }

            .card * {
                margin: 0.5rem 0;
            }
        }

        .text {
            margin: 1rem 0;
            color: #ccc;
            line-height: 1.5rem;
        }
    }
}

@media(max-width:780px) {
    .box-about {
        flex-direction: column;
    }

    .about-img {
        width: 100% !important;
    }

    .about-img img:hover {
        transform: rotate(-5deg) !important;
    }

    .text {
        text-align: center !important;
    }



    .cards {
        flex-direction: column;
        width: 100% !important;
        margin-top: 2rem;

        .card {
            width: 100% !important;
            margin: 1rem 0 !important;
        }

        .card:hover {
            background-color: #382961 !important;
        }
    }

    .info-about {
        width: 100% !important;
        align-items: center !important;
        justify-content: center !important;
    }


}