.content-header{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #fff;
    height: auto;
    padding-top: 4rem;

    h1{
        text-align: center;
        font-size: 36px;
        margin: 0;
    }

    p{
        text-align: center;
        font-size: 14px;
        margin: 0;
        margin: .5rem 0;
    }
}

.content-btnheader{
    display: flex;
    width: 100%;
    padding: 1rem 0;
    align-items: center;
    justify-content: center;

    .alert{
        width: 50%;
        position:absolute;
        z-index: 10000;
        background-color: #181b50;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        padding: 4rem 0;
        top: 0;
        margin-top: 1rem;
        transition: 2s;
        display: none;

        
        p{
            font-size: 28px;
            text-align: center;
        }

        button{
            padding: .5rem 1rem;
            border-radius: 10px;
            background-color: transparent;
            border: 1px solid #4888ff;
            color: #4888ff;
            cursor: pointer;
            font-weight: 600;
        }

        button:hover{
            background-color: #4888ff;
            color: #fff;
        }
    }

    .btns{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;

        .btn-down{
            padding: 0.8rem 1rem;
            font-size: 15px;
            border-radius: 5px;
            border: 1px solid rgb(72, 136, 255);
            color: rgb(72, 136, 255);
            background-color: transparent;
            cursor: pointer;
            transition: .5s;
            margin: 0 1rem;
        }

        .btn-down:hover{
            box-shadow: 6px 6px 2px rgb(28, 51, 99);
        }

    }
}

@media(max-width:680px){
    .alert{
        width: 80% !important;
    }
}