footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4888ff;
    color: #fff;
    font-weight: 700;
    padding: 4rem 0;

    p{
        margin-bottom: 3rem;
    }
}