.content-myskills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 4rem;

    .box-myskills {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .card {
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #382961;
            border-radius: 5px;
            padding: 1rem;
            border: 2px solid #382961;
            transition: .5s;

            .list {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                width: 100%;
                justify-content: space-around;
            }

            .list-skills {
                width: auto;
                align-items: center;
            }

            .title-card h1 {
                font-size: 22px;
                color: rgb(72, 136, 255);
                text-align: center;
            }

            h2 {
                color: #fff;
                margin: 0;
                font-size: 18px;
            }

            p {
                color: #ccc;
                margin: 0.5rem 0;
                margin-left: 2rem;
            }

            .skills {
                margin: 2rem 0;
            }

            .name-skills {
                display: flex;

                i {
                    margin-right: 1rem;
                    color: rgb(72, 136, 255);
                }
            }
        }
    }
}

@media(max-width:780px) {

    .content-myskills {
        padding: 1rem 2rem !important;
    }

    .box-myskills {
        flex-direction: column;
        width: 100% !important;


        .card {
            width: 100% !important;
            margin: 1rem 0;
        }

        .list {
            width: auto !important;
            flex-direction: column !important;
            justify-content: center !important;
            display: block !important;
        }
    }
}

@media(max-width:320px) {
    .card {
        border-radius: 0 !important;
        margin: 0;
        padding: 1rem 0 !important;
        width: 70% !important;
    }


    .content-myskills {
        padding: 1rem 2rem !important;
    }

    .list {
        align-items: center !important;
        justify-content: center !important;
    }

    .list-skills,
    .title-card {
        padding: 0 2rem;
    }
}